<h1 id="title">Daft Lighting</h1>
<div id="player"></div>
<div id="notice">
  <p>Idea: Based on <a href="http://www.najle.com/idaft/idaft">iDaft</a>.</p>
  <p>Icon: Play designed by <a href="http://www.thenounproject.com/diogotrindade">Diogo Trindade</a> from the <a href="http://www.thenounproject.com">Noun Project</a>.</p>
  <p>Currently does not produce sound when viewed in Firefox.</p>
</div>