<!DOCTYPE html>
<html>
  <head>
    <title>Daft Lighting</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/js/soundmanager2.js"></script>
    <script type="text/javascript" src="/js/music.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>